/*body{
	background-color: #751626;
}
*/


.centrado {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

hr.v{
width: 1px;
height: 500px;
}

.center{
	margin: auto;
	position: absolute;
	width: 40%;
	top: 0px;
	bottom: 0px;
	left: 0px; /*Sin esta línea (pero con todas las demás),
                   el elemento se pegará al lado izquierdo*/
	right: 0px; /*Sin esta línea (pero con todas las demás),
                    el elemento se pegará al lado derecho*/
}


.center3{
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px; /*Sin esta línea (pero con todas las demás),
                   el elemento se pegará al lado izquierdo*/
	right: 0px; /*Sin esta línea (pero con todas las demás),
                    el elemento se pegará al lado derecho*/
}

.logo-hotel{
	margin: auto;
	/*position: absolute;*/
	width: 30%;
	top: 0px;
	bottom: 0px;
	left: 0px; /*Sin esta línea (pero con todas las demás),
                   el elemento se pegará al lado izquierdo*/
	right: 0px; /*Sin esta línea (pero con todas las demás),
                    el elemento se pegará al lado derecho*/
    -webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(1); /*Mozilla scale version*/
	-o-transform:scale(1); /*Opera scale version*/
	-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
	-moz-transition-duration: 0.5s; /*Mozilla duration version*/
	-o-transition-duration: 0.5s; /*Opera duration version*/
	opacity: 0.5; /*initial opacity of images*/
	margin: 0 10px 5px 0; /*margin between images*/
}

.logo-hotel:hover{
	cursor: pointer;
	-webkit-transform:scale(1.3); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1.3); /*Mozilla scale version*/
	-o-transform:scale(1.3); /*Opera scale version*/
	opacity: 1;

	/* box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
	/* -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
	/* -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
	 /*
	-webkit-box-shadow: -12px -9px 11px rgba(49, 50, 50, 0.75);
	-moz-box-shadow:    -12px -9px 11px rgba(49, 50, 50, 0.75);
	box-shadow:         -12px -9px 11px rgba(49, 50, 50, 0.75);*/
}  

.tabla-center{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;

}

.tabla-left{
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;

}

.tabla-right{
	text-align: right;
	padding-top: 50px;
	padding-bottom: 40px;

}










